.p-css-mission{
    font-size: 12px;
    margin-left: 8.9%;
    margin-top: 0%;
    margin-bottom: 1.5%;
    color: black;
}
.mission-img-css{
    max-width: 120%;
    margin-left: -4.4%;
    margin-bottom: 8%;
}


.mission-h4-css {
    margin-left: 7%;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.mission-p-css {
    margin-left: 7%;
    color: black;
    margin-bottom: 2%;
}
.mission-p-text-css{
    margin-left: 7%;
    font-size: 12px;
    font-weight: 100;
    color: black;
    margin-top: -2%;
}
.vision-h4-css{
    margin-left: 7%;
    font-size: 18px;
    font-weight: 700;
    color: black;
}
.vision-group-css{
    font-weight: 700;
    color: black;
}